@font-face {
    font-family: segment;
    src: url(./fonts/segment.ttf);
  }

:root{
    --red: #e63946;
    --white: #f1faee;
    --lightblue: #a8dadc;
    --darkblue: #457b9d;
    --black: #1d3557;
}

*{
    margin: 0;
    padding: 0;
}

html{
    background-color: var(--white);
    color: var(--black);
    font-family: 'Gloria Hallelujah', cursive;
}

h1{
    font-size: 2.5em;
    margin: 20px;
}

#startPopup{
    display: block;
    position: fixed;
    width: fit-content;
    height: fit-content;
    border-radius: 5vh;
    padding: 5vh;
    left: 50%;
    top: 50%;
    border: var(--black) dotted;
    background-color: var(--lightblue);
    color: var(--black);
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 100;
}

#startPopup button{
    background-color: var(--red);
    color: var(--white);
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-family: 'Gloria Hallelujah', cursive;
    transition: all ease-in-out 0.1s;
}

#startPopup button:hover{
    background-color: var(--white);
    color: var(--red);
}

#cookie{
    height: 50%;
    width: 50vh;
    border-radius: 50vh;
    position: fixed;
    overflow: hidden;
    background-color: var(--red);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    animation:spin 8s linear infinite;
    transform-origin: 0% 0%;
}

#cookie #bigDot{
    height: 10vh;
    width: 10vh;
    border-radius: 50vh;
    position: fixed;
    background-color: var(--lightblue);
    left: 10vh;
    top: 10vh;
    animation:color 4s ease-in-out infinite alternate;
}

#cookie #smallDot{
    height: 5vh;
    width: 5vh;
    border-radius: 50vh;
    position: fixed;
    background-color: var(--lightblue);
    left: 32.5vh;
    top: 32.5vh;
    animation: color 4s ease-in-out -4s infinite alternate;
}

#cookie h2 {
    position: fixed;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1.5em;
    top: 50%;
    width: 100%;
    text-align: center;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

#cookieMenu{
    background-color: var(--black);
    border-top: var(--lightblue);
    color: var(--white);
    width: 50%;
    position: fixed;
    left: 50%;
    bottom: 10%;
    max-width: 300px;
    border-radius: 3vh;
    border: solid 10px var(--lightblue);
    height: fit-content;
    overflow: hidden;
    transform: translateX(-50%);
    -ms-transform: translateX(-50%);
}

#menu {
    position: fixed;
    overflow: hidden;
    background-color: var(--red);
    height: fit-content;
    width: fit-content;
    border-radius: 0px 10px 10px 0px;
    display: block;
    border-right: var(--black) dotted 5px;
    border-top: var(--black) dotted 5px;
    border-bottom: var(--black) dotted 5px;
}

#menu button {
    font: inherit;
    display: block;
    width: 100%;
    border: none;
    background-color: var(--red);
    color: var(--white);
    padding: 10px;
    transition: all 0.2 ease-in-out;
}

#menu button p {
    text-align: center;
    font-size: 0.75em;
}

#menu button:hover, #menu .active {
    background-color: var(--white);
    color: var(--red);
}

#cookieCount{
    font-size: 4em;
    width: 100%;
    text-align: center;
    font-family: segment;
}

#cookieCounterText{
    margin: 10px;
    position: fixed;
    font-size: 1em;
    width: 10%;
    text-align: left;
    font-family: segment;
}

#cookieCapacity{
    font-size: 4em;
    width: 100%;
    text-align: center;
    font-family: segment;
    background-color: var(--darkblue);
}

#cookieCapacityText{
    margin: 10px;
    position: fixed;
    font-size: 1em;
    width: 10%;
    text-align: left;
    font-family: segment;
}


.slideOut{
    animation:animateclose 0.5s ease-in-out;
}

@media screen and (max-width: 800px) {
    #cookieMenu {
      width: 80%;
      bottom: 5%;
    }
    #startPopup{
        width: 70%;
        font-size: 0.9em;
    }
    .hidable{
        display: none;
    }
    #menu{
        width: 100%;
        border: none;
        border-radius: 0px 0px 10px 10px;
        top: 0;
        border-bottom: var(--black) solid 10px;
    }
  }

@keyframes spin { 
    100% { 
        rotate: 360deg; 
    } 
}

@keyframes color { 
    0%{
        background-color: var(--lightblue);
    }

    100% { 
        background-color: var(--darkblue);
    } 
}

@keyframes animateclose {
    100% {
      top: -50%;
      opacity: 0;
    }
}